.homeTextArea {
  margin-top: 42px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 13px 13px 13px 13px;
  position: relative;

  .searchTextArea_language_select {
    position: absolute;
    bottom: 12px;
    left: 25px;
  }

  .homeTextArea_btn {
    position: absolute;
    right: 16px;
    bottom: 12px;
    z-index: 999;
  }
}
