.loginBtn {
    position   : absolute;
    // right   : 156px;
    // top     : 24px;

    :global {
        .ant-btn-lg {
            border-radius: 20px !important
        }

        .ant-btn {
            border-radius: 20px !important
        }
    }
}