.loginBtn {
  // position   : absolute;
  // right   : 156px;
  // top     : 24px;

  :global {
    .ant-btn-lg {
      border-radius: 20px !important;
    }

    .ant-btn {
      border-radius: 20px !important;
    }
  }
  .loggedIcon {
    border: none;
    background: none;
    margin: 0 10px;
    cursor: pointer;
  }
  .userMobile {
    display: none;
  }
  .subscribeButton {
    display: flex;
    width: 280px;
    height: 56px;
    background: #c4e7d9;
    border: none;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 20px 15px 0;
    .subscribeDesc {
      padding: 0 130px 0 10px;
    }
  }
  .quitButton {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin: 15px 15px 0;
    padding: 20px 0;
  }
}
