.papersCard {

    :global {
        .ant-card-meta-description {
            color           : #333333 !important;
            background-color: rgba($primary-color, 0.1);
        }
    }

    .papersCard_intro {
        padding-left   : 30px;
        margin-top     : 16px;
        display        : flex;
        justify-content: space-between;

        span {
            height     : 17px;
            font-size  : 12px;
            font-weight: 400;
            color      : #999;
        }
    }
}