.recommendBtnList {
  width: 744px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  button {
    margin: 0 20px 10px 0;
    font-family: SimSun;
    font-weight: 400;
    font-size: 14px;
    height: auto;
    // line-height: 20px;
    padding: 2px 20px;
  }
}
