.content_card {
  width: calc(100% - 44px);
  background: #ffffff;
  border-radius: 13px;
  border: 1px solid #84c4b5;
  margin-bottom: 10px;
  padding: 10px 20px;

  .content_card_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      flex: 1;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
      font-family: STSongti-SC-Bold, STSongti-SC-Bold;
    }

    .content_card_check {
      display: block;
      margin-right: 4px;
      cursor: pointer;
    }
  }

  .content_card_response {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: MicrosoftYaHei, MicrosoftYaHei;
  }

  .content_card_btn {
    button {
      margin-right: 8px;
    }
    .content_card_btn_quote {
      svg {
        transform: translateY(2px) !important;
        margin-right: 4px;
      }
    }

    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 24px;

    svg {
      transform: translateY(-2px);
    }
  }
}

.content_card_paperAbstract {
  margin-top: 16px;
  height: 240px;
  font-family: STSongti-SC-Bold, STSongti-SC-Bold;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  overflow-y: hidden;
  position: relative;

  display: flex;
  flex-direction: column;

  span:not(:first-child) {
    margin-top: 20px;
  }

  .content_card_paperAbstract_all_button {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $primary-color;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 2px;
    border-radius: 50px;
    background: white;
    padding: 2px 14px;
    box-shadow: 0 0 12px 20px white;
    cursor: pointer;

    &:hover {
      color: $primary-color-hover;
    }
  }
}

.content_card_paperAbstract::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.content_card_paperAbstract::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background: $default-color;
}
.content_card_crossline {
  margin: 4px 0px;
  width: 100%;
  border-top: 1px solid #84c4b5;
}

.content_card_footer {
  height: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #848484;
  line-height: 14px;
  flex-wrap: nowrap;

  img {
    margin-right: 4px !important;
  }

  .content_card_footer_journal {
    height: 16px;
    display: flex;
    align-items: center;
  }

  .content_card_footer_journal_text {
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
  }

  .content_card_footer_years,
  .content_card_footer_jcr,
  .content_card_footer_authors,
  .content_card_footer_citationCount,
  .content_card_footer_openAccess {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
  }

  .content {
    padding: 34px 24px;
    width: calc(100% - 48px);

    .content_summary {
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      line-height: 20px;
      padding-bottom: 44px;
      border-bottom: 1px solid #005c33;
    }

    .content_summaryZh {
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      line-height: 20px;
      margin-top: 24px;
    }
  }
}

.content_card_footer_division {
  width: 0px;
  height: 12px;
  border-right: 1px solid #848484;
  margin: 0 12px;
}

.quoteModal {
  :global {
    .ant-modal {
      border-radius: 14px;

      .ant-modal-content {
        padding: 0;

        .ant-modal-header {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 46px;
          background: linear-gradient(
            58deg,
            #50c98c 0%,
            #8bbbb7 50%,
            #84c4b5 100%
          );
          margin-bottom: 0;

          .ant-modal-title {
            font-weight: 400;
            font-size: 16px;
            color: #000000;
          }
        }

        .ant-modal-body {
          padding: 20px 32px;
          font-weight: 400;
          font-size: 12px;
          color: #000000;
          line-height: 24px;
          align-items: center;
          justify-content: center;
          i {
            font-style: italic;
          }
          .ant-btn-lg {
            margin-top: 30px;
            border-radius: 20px;
          }
        }

        .ant-modal-close {
          transform: translateY(-4px);
        }
      }
    }
  }
}
