.content_card {
  width: calc(100% - 44px);
  padding: 10px 20px;
  border-radius: 13px;
  margin-bottom: 10px;
}

.content_card_no_border,
.content_card {
  background: #ffffff;

  .content_card_title {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 0;
      font-weight: 600;
      font-size: 13px;
      font-family:
        Microsoft YaHei,
        PingFang SC;
    }

    .content_card_check,
    .content_card_checked {
      display: block;
      width: 116px;
      height: 25px;
      padding: 0;
      margin-right: 4px;
      color: #eee;
      cursor: pointer;
      border-radius: 30px;
      img {
        position: relative;
        top: -1px;
        margin-right: 4px;
      }
      span {
        display: inline-block;
        overflow: auto;
      }
    }
    .content_card_check {
      background-color: #eee;
      color: black;
    }
    .content_card_checked {
      background-color: #838890;
    }
  }

  .content_card_response {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    line-height: 20px;
    margin: 10px 0 10px 0;
    background: #f3f7f9;
    border-radius: 8px;
    padding: 10px;
  }

  .content_card_btn {
    display: flex;
    .content_card_btn_main {
      width: 100%;
    }
    .content_card_btn_sub {
      display: flex;
    }
    button {
      margin-right: 8px;
      width: 120px;
      border-radius: 20px;
      border: none;
      text-align: center;
      justify-content: center;
      &:hover {
        svg {
          color: #000;
        }
      }
    }
    .content_card_btn_quote,
    .content_card_btn_abstract,
    .content_card_btn_download {
      svg {
        position: relative;
        top: 4px;
        margin-right: 4px;
      }
    }
    .content_card_btn_quote,
    .content_card_btn_abstract,
    .content_card_btn_download {
      background: none;
      cursor: pointer;
      &:focus-visible {
        outline: none;
      }
    }
    .content_card_btn_abstract_drop_icon {
      color: #000;
      font-size: 8px;
      margin-left: 5px;
      position: relative;
      top: -4px;
    }

    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 24px;

    svg {
      transform: translateY(-2px);
    }
  }
}

.content_card_paperAbstract {
  margin-top: 16px;
  height: auto;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  letter-spacing: 0.2px;
  overflow-y: hidden;
  position: relative;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e8ec;
  padding: 10px;
  border-radius: 10px;

  span:not(:first-child) {
    margin-top: 20px;
  }
}

.content_card_paperAbstract::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.content_card_paperAbstract::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background: $default-color;
}

.content_card_footer {
  height: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #848484;
  line-height: 14px;
  flex-wrap: nowrap;

  img {
    margin-right: 4px !important;
  }

  .content_card_footer_journal {
    height: 16px;
    display: flex;
    align-items: center;
  }

  .content_card_footer_journal_text {
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
  }

  .content_card_footer_years,
  .content_card_footer_jcr,
  .content_card_footer_authors,
  .content_card_footer_citationCount,
  .content_card_footer_openAccess {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    .b {
      font-weight: 800;
    }
  }

  .content {
    padding: 34px 24px;
    width: calc(100% - 48px);

    .content_summary {
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      line-height: 20px;
      padding-bottom: 44px;
      border-bottom: 1px solid #005c33;
    }

    .content_summaryZh {
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      line-height: 20px;
      margin-top: 24px;
    }
  }
}

.content_card_footer_division {
  width: 0px;
  height: 12px;
  border-right: 1px solid #848484;
  margin: 0 12px;
}

.quoteModal {
  :global {
    .ant-modal {
      border-radius: 14px;

      .ant-modal-content {
        padding: 0;

        .ant-modal-header {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 46px;
          background: linear-gradient(
            58deg,
            #e1daff 0%,
            #deebfd 50%,
            #a4e5f0 100%
          );
          margin-bottom: 0;

          .ant-modal-title {
            font-weight: 400;
            font-size: 16px;
            color: #000000;
          }
        }

        .ant-modal-body {
          padding: 20px 32px;
          font-weight: 400;
          font-size: 12px;
          color: #000000;
          line-height: 24px;
          align-items: center;
          justify-content: center;
          i {
            font-style: italic;
          }
        }

        .ant-modal-close {
          transform: translateY(-4px);
        }
      }
    }
  }
}
