.searchContainer {
  width: 90%;
  max-width: 1440px;
  margin-top: 42px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 13px 13px 13px 13px;
  position: relative;
  height: 66px;
  display: flex;
  justify-content: center;
  z-index: 100;

  .searchTextArea {
    width: 100%;

    .searchTextArea_input {
      -ms-overflow-style: none;
      scrollbar-width: none;
      height: 66px;
      width: 100%;
      resize: none;
    }

    .searchTextArea_btn {
      position: absolute;
      right: 24px;
      bottom: 18px;
      z-index: 999;
      button {
        background-color: #6f9ec1;
      }
    }
  }
}
