html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* font-family: STSongti-SC-Regular, STSongti-SC-Regular; */
}

body::-webkit-scrollbar {
  width: 4px; /* 设置垂直滚动条的宽度为4像素 */
  height: 12px; /* 设置水平滚动条的高度为12像素 */
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px; /* 设置滚动条的圆角半径为2像素 */
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2); /* 设置滚动条的阴影效果 */
  background: #00a650; /* 设置滚动条的背景颜色为绿色 */
}
body::-webkit-scrollbar-track {
  background-color: transparent; /* 设置滚动条轨道的背景颜色为透明 */
}

#nprogress .bar {
  background: #00a650 !important;
}
​#nprogress .peg {
  background: #00a650 !important;
}
​#nprogress .spinner {
  /* 是否显示右边的加载圈圈 */
  display: none !important;
}
