// sass 变量
$primary-color: #99e0ed;
$primary-color-hover: #068da5;
$default-color: #068da5;

// 自定义字体
// @font-face {
//     font-family: "Gilroy-ExtraBold";
//     src        : url("./fonts/Gilroy-ExtraBold.ttf");
// }

// @font-face {
//     font-family: "Gilroy-Light";
//     src        : url("./fonts/Gilroy-Light.otf");
// }

// @font-face {
//     font-family: "Roman";
//     src        : url("./fonts/Roman.ttf");
// }
