.home {
  width: 100%;
  height: 100%;

  .home_white_triangle_container {
    height: 43px;
    display: flex;
    justify-content: center;
    .home_white_triangle {
      width: 744px;
      img {
        margin-left: 660px;
      }
    }
  }
  .home_triangle_mask {
    width: 100%;
    height: 43px;
    margin-top: 130px;
    display: flex;
    &::before,
    &::after {
      content: '';
      flex: 1;
      background-color: white;
    }
    .home_triangle {
      width: 744px;
      height: 43px;
      display: flex;
      &::before,
      &::after {
        content: '';
        width: 100%;
        background-color: white;
      }
      &::before {
        width: 5%;
      }
    }
  }

  .home_search {
    width: 100%;
    background: linear-gradient(
      90deg,
      #f3f9fe 0%,
      #d0f6fb 49%,
      #f8f9fd 80%,
      #e9faff 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_search_recommend {
      display: flex;
      width: 744px;
      margin-top: 24px;
      .home_search_recommend_title {
        width: 100px;
        padding: 5px 0;
        font-family:
          Microsoft YaHei,
          PingFang SC;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .home_search_logo {
      margin-top: 140px;
    }

    .home_search_subheading {
      margin-top: 15px;
      font-weight: 400;
      font-size: 20px;
      color: #000000;
      line-height: 24px;
      font-family: SimSun;
      font-weight: 600;
    }

    .home_search_tips {
      margin-top: 8px;
      width: 744px;
      text-align: right;
      font-weight: 400;
      font-size: 10px;
      color: #1b1b1b;
      line-height: 12px;
      text-align: right;
      font-family: SimSun;
      font-weight: 400;
    }
  }

  .home_searchGuide {
    width: 100%;
    height: 34px;
    background: #ffffff;
    display: flex;
    justify-content: center;

    .home_searchGuide_content {
      width: 724px;
    }

    .home_searchGuide_content_triangle {
    }
  }

  .home_why {
    width: 100%;
    height: 456px;
    background: #ffffff;
    display: flex;
    justify-content: center;

    .home_why_content {
      width: 724px;
      display: flex;
      margin-top: 30px;

      .home_why_content_text {
        width: 260px;
        height: 38px;
        font-weight: 400;
        font-size: 32px;
        color: #000000;
        line-height: 37px;
      }

      .home_why_content_publicity {
        display: flex;
        flex-direction: column;
        transform: translateY(-36px);
      }
    }
  }

  .home_university {
    width: 100% !important;
    height: 356px;
    background-size: auto;
    background-image: url('./img/universityBg.png');
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_university_text {
      font-weight: 400;
      font-size: 26px;
      color: #000000;
      margin-top: 54px;
      visibility: hidden;
    }

    .home_university_imgs {
      width: calc(100% - 116px);
      padding: 0 58px;
      margin-top: 46px;
      display: flex;
      justify-content: space-between;
    }

    .home_university_imgs:nth-child(3) {
      margin-top: 40px !important;
    }
  }
  .home_intro {
    padding: 30px 0 60px 0;
    font-family: SimSun;
    font-weight: 400;
    .home_intro_title {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
    }
    .home_intro_sub_title {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
      font-weight: 400;
    }
    .home_intro_list {
      justify-content: center;
    }
    .home_intro_list {
      display: flex;
      margin-top: 30px;
      .home_intro_list_item {
        width: 288px;
        height: 275px;
        border-radius: 20px;
        margin: 0 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .home_intro_list_item_img {
          margin: 25px 0;
        }
        .home_intro_list_item_h1,
        .home_intro_list_item_h2,
        .home_intro_list_item_h6 {
          font-family:
            Microsoft YaHei,
            PingFang SC;
        }
        .home_intro_list_item_h1 {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .home_intro_list_item_h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 232px;
          line-height: 20px;
          font-size: 12px;
          font-weight: 400;
        }
        .home_intro_list_item_h6 {
          font-size: 10px;
          color: #7d7b7b;
          position: absolute;
          bottom: 52px;
          font-weight: 400;
        }
      }
    }
  }
  .home_desc {
    background: linear-gradient(
      90deg,
      #f3f9fe 0%,
      #d0f6fb 49%,
      #f8f9fd 80%,
      #e9faff 100%
    );
    .home_desc_title {
      padding-top: 10px;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      font-family: SimSun;
    }
    .home_desc_sub_title {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
      font-weight: 400;
      font-family: SimSun;
    }
    .home_desc_list {
      flex-direction: column;
      display: flex;
      margin-top: 15px;
      padding-bottom: 50px;
      .home_desc_list_item {
        width: 904px;
        margin: 20px auto 0;
        height: 128px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        position: relative;
        .home_desc_list_item_img {
          margin: 0 25px 0 50px;
        }
        .home_desc_list_item_titles {
          width: 649px;
          .home_desc_list_item_h1,
          .home_desc_list_item_h2,
          .home_desc_list_item_h3 {
            font-family:
              Microsoft YaHei,
              PingFang SC;
          }
          .home_desc_list_item_h1 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
          }
          .home_desc_list_item_h2 {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
          }
          .home_desc_list_item_h3 {
            font-size: 10px;
            color: #7d7b7b;
            position: absolute;
            bottom: 15px;
          }
        }
      }
    }
  }
  .school_info {
    padding: 0 0 50px 0;
    background: linear-gradient(
      90deg,
      #f3f9fe 0%,
      #d0f6fb 49%,
      #f8f9fd 80%,
      #e9faff 100%
    );
    .school_info_title {
      padding: 30px 0 0 0;
      font-size: 20px;
      text-align: center;
      font-family:
        Microsoft YaHei,
        PingFang SC;
      font-weight: 500;
    }
    .school_info_list {
      display: flex;
      width: 1200px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px auto 0;
      .school_info_list_item {
        margin: 0 20px;
      }
    }
  }
}
