.faq {
  margin: 0 auto;
  padding: 20px 0 20px 0;
  font-family:
    Microsoft YaHei,
    PingFang SC;
  .faq_list_item {
    padding: 10px 0;
    border-top: 1px solid #aeaeae;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    max-height: 25px;
    transition: all 0.5s;
    .faq_list_item_title {
      font-size: 14px;
      padding-bottom: 10px;
      position: relative;
      cursor: pointer;
      .faq_list_item_drop_down {
        position: absolute;
        top: 7px;
        right: 0;
        transform: rotateZ(-90deg);
      }
    }
  }
  .faq_icon {
    margin: 0 5px 0 0;
  }
  .faq_title {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
}
