.search {
  width: 100%;
  min-width: 1080px;
  background: linear-gradient(
    90deg,
    #f3f9fe 0%,
    #d0f6fb 49%,
    #f8f9fd 80%,
    #e9faff 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

  .search_main {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    min-height: 100vh;

    .search_main_sidebar {
      position: fixed;
      top: 0;
      width: 80px;
      height: 100vh;
      background: #ffffff;
      z-index: 1000;

      .search_main_sidebar_logo_container {
        padding-top: 20px;
      }
      .search_main_sidebar_logo {
        margin: 0 8px;
        cursor: pointer;
      }
      .openButton {
        padding: 0 30px;
        border: none;
        background: none;
        cursor: pointer;
        margin-top: 30px;
        opacity: 0.6;
        transition: all 0.3s;
        &:hover {
          opacity: 1;
        }
      }
      .closeButton {
        padding: 0 30px;
        border: none;
        background: none;
        cursor: pointer;
        transform: rotate(180deg);
        position: absolute;
        top: 18px;
        right: -22px;
        opacity: 0.6;
        transition: all 0.3s;
        &:hover {
          opacity: 1;
        }
      }
    }

    .search_content {
      margin-left: 80px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .search_content_loading {
        padding-top: 24px;
        height: calc(100vh - 132px - 242px);
        width: 90%;
        max-width: 1440px;

        .search_content_loading_card {
          width: 100%;
          height: 170px;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 13px;
          border: 1px solid #84c4b5;
          display: flex;
          flex-direction: column;
          align-items: center;

          .text {
            opacity: 1 !important;
            margin-top: 68px;
          }

          meter {
            width: 614px;
            margin-top: 16px;
          }
        }
      }

      .search_content_empty {
        width: 90%;
        max-width: 1440px;
        padding-top: 24px;
        height: calc(100vh - 132px - 242px);

        .search_content_empty_card {
          width: 100%;
          height: 200px;
          text-align: center;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 13px;
          border: 1px solid #84c4b5;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            transform: translateY(-35%);
            margin-right: 8px;
          }

          .text {
            font-weight: 400;
            font-size: 16px;
            color: #000000;
            line-height: 24px;
            h2 {
              font-size: 20px;
            }
            h3 {
              font-size: 16px;
              margin-top: 30px;
            }
          }
        }
        .search_content_empty_contact {
          font-size: 12px;
          margin-top: 10px;
          text-align: center;
        }
      }

      .search_content_data {
        width: 90%;
        max-width: 1440px;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        .search_content_data_summary {
          width: 35%;
          height: fit-content;
          .search_content_data_summary_content {
            background: #ffffff;
            box-shadow: 0px 0px 20px 0px rgba(219, 215, 238, 0.4);
            border-radius: 12px;
          }
          .fetch_selected_summary_button_container {
            display: flex;
            justify-content: center;
            padding: 100px 0 70px;
            button {
              color: #0fbce2;
              background: none;
              border: none;
              display: flex;
              align-items: center;
              cursor: pointer;
              .fetch_selected_summary_button_icon {
                margin-right: 5px;
              }
            }
          }

          .content {
            padding: 34px 18px;
            width: calc(100% - 36px);
            font-size: 14px;
            font-family:
              Microsoft YaHei,
              PingFang SC;

            .header {
              font-size: 14px;
              font-weight: 600;
            }
            .content_summary {
              font-weight: 400;
              font-size: 14px;
              color: #000000;
              line-height: 24px;
              text-indent: 28px;
              margin-top: 10px;
              pre {
                white-space: pre-wrap;
              }
              .mark_author_year {
                text-decoration: none;
                color: #03a097;
                cursor: pointer;
              }
            }
            .content_bullet_points_prefix {
              font-weight: 400;
              color: #000000;
              line-height: 24px;
              text-indent: 28px;
              padding-top: 12px;
            }

            .content_bullet_points_title {
              font-family:
                Microsoft YaHei,
                PingFang SC;
              font-size: 14px;
              font-weight: 600;
              margin-top: 15px;
            }
            .content_bullet_points {
              font-weight: 400;
              color: #000000;
              line-height: 24px;
              margin-top: 14px;
              li {
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;
                .summary_item_container_bg {
                  padding: 10px 25px 10px 10px;
                  background-color: #f3f7f9;
                  border-radius: 6px;
                }
                .expension_text {
                  text-indent: 30px;
                  margin: 15px 0;
                  font-size: 14px;
                  color: #7b7c83;
                }
                .down_icon,
                .down_icon_active {
                  color: #000;
                  font-size: 14px;
                  position: absolute;
                  right: 10px;
                  top: 16px;
                  transition: all 0.3s;
                }
                .down_icon_active {
                  transform: rotateZ(180deg);
                }
                .mark_author_year {
                  text-decoration: none;
                  color: #00a9c9;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .search_content_data_papers {
          width: 63%;
          position: relative;

          .no_papers_tip {
            .no_papers_tip_icon {
              display: block;
              margin: 150px auto 20px;
            }
            .no_papers_tip_desc {
              text-align: center;
              color: #0fbce2;
            }
          }

          .content_button {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            min-height: 36px;
            position: relative;
            .cn_button,
            .en_button,
            .cn_button_active,
            .en_button_active {
              width: 139px;
              height: 36px;
              border: none;
              border-radius: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                margin-right: 4px;
              }
            }
            .en_button,
            .en_button_active {
              border-radius: 30px 0 0 30px;
            }
            .cn_button,
            .cn_button_active {
              margin: 0 2px;
              border-radius: 0 30px 30px 0;
            }
            .cn_button_active,
            .en_button_active {
              background-color: #99e0ed;
            }
            .sort_button {
              height: 36px;
              position: absolute;
              right: 0;
              border-radius: 30px;
              display: flex;
              align-items: center;
              .sort_button_icon {
                margin-left: 5px;
              }
            }
            .popup_sort_buttons {
              position: absolute;
              top: 40px;
              right: 20px;
              width: 112px;
              z-index: 400;
              background-color: #ffffff;
              border-radius: 20px;
              padding: 10px;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
              animation: show-sort-menus 0.3s;
              @keyframes show-sort-menus {
                0% {
                  opacity: 0.2;
                  transform: scale(0.9) translateY(-15px);
                }
                100% {
                  opacity: 1;
                  transform: scale(1) translateY(0);
                }
              }
              button {
                width: 100%;
                height: 40px;
                border-radius: 16px;
                border: none;
                margin: 2px 0;
                cursor: pointer;
                background-color: #ffffff;
                &:hover {
                  background-color: #eee;
                }
                &.popup_sort_button_active {
                  background-color: #99e0ed;
                }
              }
            }
          }
        }
      }
    }
  }
}
.not_enough_select_paper_modal {
  :global {
    .ant-modal {
      border-radius: 14px;
      .ant-modal-content {
        padding: 0;
        .ant-modal-header {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 46px;
          background: linear-gradient(
            58deg,
            #e1daff 0%,
            #deebfd 50%,
            #a4e5f0 100%
          );
        }
        .ant-modal-body {
          text-align: center;
          font-size: 16px;
          padding: 50px 0 50px;
        }
      }
    }
  }
}
